@import url("style.css");

BODY {
	border:5px solid #A2A2A2;
}

#top {
	margin:0 auto;
	height:50px;
}
#home {
	float:left;
	padding:10px;
}
#menu {
	float:right;
	padding:8px;
}
#version {
	clear:both;
	float:right;
	font-size:8px;
	margin:-4px 4px 0 0;
	padding:0;
}
H1 {
	font-size:16px;
	margin:0;
	padding:0;
}